body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 247, 247);
    margin: 0;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(3, 12, 83, 0.977);
    width: 100%;
    color: rgb(254, 247, 247);
    
    text-align: center;
    padding: 15px;
    
}

.subsections {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 800px;
    text-align: left;
 
    
}

.resumebody {
    display: flex;
    flex-direction: column;
}


