body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(254, 247, 247);
    margin: 0;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(148, 200, 181);
    width: 100%;
    color: rgb(254, 247, 247);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    
}

.subsections {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 800px;
    text-align: left;
    border-style: solid;
    border-color: black;
     
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: antiquewhite;
    padding: 8px;
    
}

.resumebody {
    display: flex;
    flex-direction: column;
}

a:link {
    color: black;
}
a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }

