body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBE9EA;
    margin: 0;
}

.wrapper {
    width: 100%;
    margin: 0 0 0 0;
}
.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;   
}

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.name a, .topnav a { 

    color: #21343B;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.spacer {
    width: 15em;
}

.divider {
    height: 5em;
    width: 100%;
}

.intro {
    width: 100%;
}

.about {
    display: flex;
    flex-direction: row;
    flex: auto;
    padding: 15px;
     
}

#selfpic {
    width: 300px;
    height: 200px;
}

#basepic {
    width: 100%;
    height: 30%;
}